{% extends "base.html" %}

{% block content %}

<div class="hero">

    <h1>

        Saptaham Book Store
        Admin Panel

    </h1>

    <p>

        Management Access

    </p>

</div>

<div class="books-grid">

    <a href="/add-book"
       class="btn">

        Add Book

    </a>

    <a href="/sell-book"
       class="btn">

        Sell Books

    </a>

    <a href="/transactions"
       class="btn">

        Transactions

    </a>

    <a href="/analytics"
       class="btn">

        Analytics

    </a>
    <a href="/admin-books"
        class="btn">

        Manage Books

    </a>
    <a href="/admin-inventory"
        class="btn">

        Inventory

    </a>
    <a href="/bulk-import"
       class="btn">

        Bulk Import

    </a>

</div>

{% endblock %}
