{% extends "base.html" %}

{% block content %}

<div class="hero">

    <h1>

        Edit Book

    </h1>

</div>

<form method="POST"
style="
max-width:700px;
margin:auto;
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
">

    <input type="text"
           name="title"
           value="{{ book.title }}"
           placeholder="Title"
           required>

    <input type="text"
           name="author"
           value="{{ book.author }}"
           placeholder="Author">

    <input type="text"
           name="publication"
           value="{{ book.publication }}"
           placeholder="Publication">

    <input type="text"
           name="category"
           value="{{ book.category }}"
           placeholder="Category">

    <input type="text"
           name="language"
           value="{{ book.language }}"
           placeholder="Language">

    <input type="number"
           step="0.01"
           name="purchase_price"
           value="{{ book.purchase_price }}"
           placeholder="Purchase Price">

    <input type="number"
           step="0.01"
           name="discount"
           value="{{ book.discount }}"
           placeholder="Discount %">

    <input type="number"
           name="show_quantity"
           value="{{ book.show_quantity }}"
           placeholder="Show Quantity">

    <input type="number"
           name="storage_quantity"
           value="{{ book.storage_quantity }}"
           placeholder="Storage Quantity">

    <input type="text"
           name="shelf_number"
           value="{{ book.shelf_number }}"
           placeholder="Shelf Number">

    <input type="text"
           name="rack_number"
           value="{{ book.rack_number }}"
           placeholder="Rack Number">

    <textarea name="description"
              placeholder="Description"
              rows="5">{{ book.description }}</textarea>

    <button type="submit"
            class="btn">

        Save Changes

    </button>

</form>

{% endblock %}